<style>
</style>

<div>
  <p>Olá, {{ name }}</p>
  <p>
    Uma conta no CADASTRO SIGAP foi criada para você.
    Para concluir este processo, você precisa definir uma senha clicando no link abaixo.
  </p>

  <p>
    <a href="{{link}}">Ativar minha conta</a>
  </p>

  <p>Se você desconhece esse e-mail, descarte-o!</p>
  <p>
    Obrigado! <br />
    <strong>GETIC - Gerência de Tecnologia de Informação</strong> <br />
  </p>
</div>
